{% extends 'music/base.html' %}
{% block title %} Add a New Album{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">


    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}