{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block body %}
    <div class="container-fluid songs-container">
        <div class="row">

            <!-- Left Album Info -->
            <div class="col-s-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'music:detail' album.id %}"}>
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        </a>
                        <h1>{{ album.album_title }}
                            <small>{{ album.genre }} </small>
                        </h1>
                        <h2>{{ album.artist }}</h2>
                    </div>
                </div>
            </div>
        </div>
        {% for song in album.song_set.all %}
            <li>{{ song.song_title }}</li>
        {% endfor %}

{% endblock %}